version: "3.5"
networks:
  dncore_network:
    name: dncore_network
    external: true
volumes:
  ipfsdnpdappnodeeth_export: {}
  ipfsdnpdappnodeeth_data: {}
services:
  ipfs.dnp.dappnode.eth:
    container_name: DAppNodeCore-ipfs.dnp.dappnode.eth
    build:
      context: ./src
      args:
        UPSTREAM_VERSION: v0.23.0
    image: "ipfs.dnp.dappnode.eth:0.2.20"
    restart: unless-stopped
    volumes:
      - "ipfsdnpdappnodeeth_export:/export"
      - "ipfsdnpdappnodeeth_data:/data/ipfs"
    ports:
      - "4001:4001"
      - "4002:4002/udp"
    environment:
      - EXTRA_OPTS
      - DATASTORE_STORAGEMAX=50GB
      - PROFILE=custom
      - ROUTING=dhtclient
      - DISCOVERY_MDNS_ENABLED=true
      - SWARM_DISABLENATPORTMAP=false
      - REPROVIDER_INTERVAL=12h
      - SWARM_CONNMGR_LOWWATER=600
      - SWARM_CONNMGR_HIGHWATER=900
      - SWARM_CONNMGR_GRACEPERIOD=20s
    dns: 172.33.1.2
    networks:
      dncore_network:
        ipv4_address: 172.33.1.5
        aliases:
          - ipfs.dappnode
